{% macro print_diff(new, old, field) -%}
    {{ field|diff(new, old) }}
{%- endmacro %}

{% macro format(num) -%}
    {{ num|format }}
{%- endmacro %}

<h2>Titulos</h2>
<table class="responsive">
    <thead>
    <tr>
        <th rowspan="2">Titulo</th>
        <th rowspan="2">Vencimento</th>
        <th colspan="3">Valor (R$)</th>
        <th colspan="2">Quantidade</th>
    </tr>
    <tr>
        <th>Investido</th>
        <th>Bruto Atual</th>
        <th>Líquido Atual</th>
        <th>Total</th>
        <th>Bloqueada</th>
    </tr>
    </thead>
    <tbody>
{% for title, data in newt.iteritems() %}
    {% if oldt is defined %}
        {% set data_old = oldt[title] %}
    {% else %}
        {% set data_old = undefined %}
    {% endif %}
        <tr class="nowrap">
            <td align="left">
                {{ title }}
            </td>
            <td align="right">
                {{ data['due_date'] }}
            </td>
            <td align="right">
                {{ print_diff(data, data_old, 'invested_value') }}
            </td>
            <td align="right">
                {{ print_diff(data, data_old, 'current_gross_value') }}
            </td>
            <td align="right">
                {{ print_diff(data, data_old, 'current_net_value') }}
            </td>
            <td align="right">
                {{ print_diff(data, data_old, 'total_titles') }}
            </td>
            <td align="right">
                {{ print_diff(data, data_old, 'bloqued_titles') }}
            </td>
        </tr>
{% endfor %}
    </tbody>
    </table>

<h2>Analitico</h2>


{% for title, data in newt.iteritems() %}
    {% if oldt is defined %}
        {% set data_old = oldt[title] %}
    {% else %}
        {% set data_old = undefined %}
    {% endif %}
    <h3>{{title}}</h3>
    <table class="responsive">
      <thead>
        <tr>
            <th colspan="5">
                Dados do seu investimento
            </th>
            <th colspan="11">
                Situação hoje (no caso de venda antecipada)
            </th>
        </tr>
        <tr>
            <th rowspan="2">
                Data da<br />
                aplicação
            </th>
            <th rowspan="2">
                Quantidade<br />
                de títulos<br />
                A
            </th>
            <th rowspan="2">
                Preço do <br />
                título na <br />
                aplicação (R$)<br />
                B
            </th>
            <th rowspan="2">
                Valor investido (R$)<br />
                A x B
            </th>
            <th rowspan="2" style="border-right: 1px solid #ccc;">
                Rentabilidade<br />
                contratada
            </th>
            <th colspan="2">
                Rentabilidade bruta acumulada
            </th>
            <th>
                Valor bruto<br />
                C
            </th>
            <th>
                Tempo da<br>
                aplicação
            </th>
            <th>
                Alíquota I.R.
            </th>
            <th colspan="2" style="padding: 5px;">
                Imposto
                previsto (R$)<br />
                D
            </th>
            <th colspan="2">
                Taxa devida (R$)<br />
                E
            </th>
            <th>
                Valor líquido<br />
                C-D-E
            </th>
        </tr>
        <tr>
            <!-- rowspan -->
            <th>
                Acumulada<br />anualizada
            </th>
            <th>
                Acumulada  %
            </th>
            <th>
                (R$)
            </th>
            <th>
                Dias Corridos
            </th>
            <th>
                (%)
            </th>
            <th>
                I.R.
            </th>
            <th>
                IOF
            </th>
            <th>
                BM&amp;FBOVESPA
            </th>
            <th>
                Instituição <br />
                Financeira
            </th>
            <th>
                (R$)
            </th>
            <!-- rowspan -->
        </tr>
      </thead>

      <tbody>


    {% for detail in data.details %}

        {% if oldt is defined and oldt[title] is defined %}
            {% if oldt[title].details is defined and len(oldt[title].details) <= loop.index %}
                {% set old_detail = oldt[title].details[loop.index-1] %}
            {% else %}
                {% set old_detail = undefined %}
            {% endif %}
        {% else %}
            {% set old_detail = undefined %}
        {% endif %}

    <tr class="nowrap">
        <td>
            {{ detail['date'] }}
        </td>
        <td align="right">
            {{ format(detail.total_titles) }}
        </td>
        <td align="right">
            {{ format(detail.buy_unit) }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'invested_value') }}
        </td>
        <td align="right">
            {{ detail['agreed_rate'] }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'current_anual_rate') }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'current_rate') }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'gross_value') }}
        </td>
        <td align="right">
            {{ detail['days'] }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'ir_rate') }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'ir_tax') }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'iof_tax') }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'bvmf_tax') }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'custody_tax') }}
        </td>
        <td align="right">
            {{ print_diff(detail, old_detail, 'net_value') }}
        </td>
    </tr>
    {% endfor %}

    </tbody>
    </table>

{% endfor %}
